:root {
  --main-white: #f0f0f0;
  --main-gray: #303841;
  --main-text-shadow: 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.75);
  --main-box-shadow: 2.5rem 2.5rem 1.25rem 0rem rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#logo {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  margin-top: 1rem;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root,
body {
  background: #1488cc;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto Mono', monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
  font-size: calc(1rem + 2vmin);
}

.title {
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

.markdownWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.editorWrapper {
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
}

.editorWrapper .toolbar {
  background: #3dadf2;
  font-size: calc(0.5rem + 2vmin);
  font-weight: 600;
  padding: 7px 15px;
  border-style: solid;
  border-width: 1.5px;
  border-bottom-width: 0px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 15px 8px 10px 5px rgba(0, 0, 0, 0.3);
}

#editor {
  min-height: 80vh;
  padding: 10px 15px;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 15px 15px 10px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 5rem;
}

input:focus,
textarea {
  outline: none !important;
}

.previewerWrapper {
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  justify-self: center;
}

.previewerWrapper .toolbar {
  background: #3dadf2;
  font-size: calc(0.5rem + 2vmin);
  font-weight: 600;
  padding: 7px 15px;
  border-style: solid;
  border-width: 1.5px;
  border-bottom-width: 0px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 15px 8px 10px 5px rgba(0, 0, 0, 0.3);
}

#preview {
  background: white;
  overflow: auto;
  padding: 1.5rem 1.5rem;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 15px 15px 10px 5px rgba(0, 0, 0, 0.3);
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(0.2rem + 2vmin);
  text-align: center;
  color: var(--main-gray);
  margin-bottom: 2rem;
}

#footer a {
  text-decoration: none;
  color: var(--main-gray);
}

#footer a:hover {
  text-decoration: underline;
  color: var(--main-gray);
}

#githubIcon {
  transition: transform 0.3s ease-in-out;
}

#githubIcon:hover {
  transform: rotate(360deg) scale(1.2);
}

@media only screen and (max-width: 1007px) {
  .markdownWrapper {
    display: flex;
    flex-direction: column;
  }

  .editorWrapper {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
  }

  .previewerWrapper {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    justify-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .markdownWrapper {
    display: flex;
    flex-direction: column;
  }

  .editorWrapper {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
  }

  .previewerWrapper {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    justify-self: center;
  }
}
